.DS_Store
node_modules/
npm-debug.log
npm-debug.log.*
selenium-debug.log
test/unit/coverage
test/e2e/reports
cordova/platforms
cordova/plugins
cordova/www
cordova.zip
*.zip
cordova.bak.zip
thumbs.db
!.gitkeep
*.iml
.idea
src/statics/locationMatches.php
